li a {
    color: white;
}

body {
    margin:0;
    padding:0;
    background: white url("images/background.gif") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}